@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,600;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins",sans-serif;
}

section{
    position: relative;
    width:100%;
    min-height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: flex start;
    background-image:url('apr.png');
    background-size: cover;
    background-position: center;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .{
    position: relative;
    color:#2C112C;
    font-size: 30px;
    text-decoration: none;
    text-transform:uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navigation a{
    color:#fff;
    font-weight:500;
    letter-spacing:1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navigation a{
    color:#FFFFFF;
    font-weight:500;
    letter-spacing:1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child){margin:-right: 30px;
}

header.navigation a:hover{background:#FFFFFF;
 }

 .content{
    max-width: 650px;
    margin: 60px 100px;
}

.content .Info h2{
    color:#FEF5E7;
    font-size: 55px;
    text-transform:uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .Info h2 span{
    color:#FFFFFF;
    font-size: 25px;
    font-weight: 600;
    font-display: center;
}

.content .Info p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.content .Info-btn{
    color:#FFFFFF;
    background:#EDBB99;
    text-decoration: none;
    text-transform:uppercase;
    font-weight: 700;
    letter-spacing: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}

.content .Info-btn:hover{
    background:#E4C4F1;
}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a{
    position: relative;
    color:#EE6EB4;
    font-size: 25px;
    transition: 0.3s;
    transition-property: transform;
}


.media-icons a:not(:last-child){
    margin-right: 60px;
}

.media-icons a:hover{
    transform: scale(1.5);
}

label{
    display:table;
}

#check{
    z-index: 3;
    display: none;
}

/* Responsive styles  */

@media (max-width: 9600px){
    header .navigation{
        display:table-cell;
}

label{
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
     }

      label:hover{
        color: #fff;
     } 

     label .close-btn{
        display:none;
    }

    #check: header .navigation{
        z-index: 2;
        position: fixed;
        background: rgba(245, 53, 145, 0.8);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }

      #check: checked ~ header .navigation a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }

    #check:checked ~ header label .menu-btn{
            display:table-row;
        }

     #check:checked ~ header label .close-btn{
        z-index: 2;
        display: block;
        position: fixed;
     }

     label .menu-btn{
        position: absolute;
     }

     header .MicasCollection{
        position: absolute;
        bottom: -6px;
     }

     .content .Info h2{
        font-size: 45px;
        line-height: 50px;
     }

     .content .Info h2 span{
        font-size: 40px;
     }

     .content .Info p{
        font-size: 18px;
      }


    @media (max-width: 560px){
        .content .Info h2{
        font-size: 50px;
        line-height: 50px;
     }








